/*ESTILO GENERAL*/

body{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Define las filas del grid */
  min-height: 100vh; /* Asegura que el grid ocupe al menos el 100% de la altura de la ventana */
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background-color: yellow;
  grid-area: header;
  height: 200px;
}

main {
  background-color: rgb(0, 4, 37);
  grid-area: main;
}

 /*NAVBAR*/
 
 nav {
    width: 100%;
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    
  }

  .botonesNav{
    margin-left: 1300px;
    margin-top: -20px;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  display: inline-block;
  padding: 10px;
  background-color: #5a5f004f;
  border: 2px yellow;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffdd00;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


  /*HEADER*/

  h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 45px;
    padding-bottom: 30px;
    font-size: 30px;
  }
  
  /*Crear la cuenta*/

  .contenedorCrear,
  .contenedorLogin {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffff00;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
    z-index: 9999;
  
  }
  
  .contenedorCrear,
  .contenedorLogin {
    display: none;
  }

  .contenedorCrear ul,
.contenedorLogin ul {
  list-style-type: none;
  padding: 0;
}

.contenedorCrear form,
.contenedorLogin form {
  margin-bottom: 10px;
}

.contenedorCrear label,
.contenedorLogin label {
  display: block;
  margin-bottom: 5px;
}

.contenedorCrear input,
.contenedorLogin input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contenedorCrear input[type="submit"],
.contenedorLogin input[type="submit"],
.contenedorCrear button,
.contenedorLogin button {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.contenedorCrear input[type="submit"]:hover,
.contenedorLogin input[type="submit"]:hover,
.contenedorCrear button:hover,
.contenedorLogin button:hover {
  background-color: #45a049;
  
}

.contenedorCrear #btnSalir,
.contenedorLogin #btnSalirLogin {
  background-color: #f44336;
  width: 100%;
}

/* CARRITO */

.carrito{
  margin: 50px;
}

.btnHide{
  margin-left: 250px;
  cursor: pointer;
}


#carritoContainer {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  max-height: 520px;
  overflow:auto;

}

#carritoItems {
  list-style-type: none;
  padding: 0;
}


#vaciarCarrito {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#btnComprar{
  background-color: rgb(0, 186, 0);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#carritoTotal {
  font-weight: bold;
}

#carritoIcon {
  position: relative;
}

#carritoContainer {
  display: none;
  position:absolute;
  top: 20%;
  right: 0;
  background-color: #bdbdbd94;
  border: 1px solid #8e8d8db8;
  padding: 10px;
}

#carritoContainer.visible {
  display: block;
}

.carrito-icon{
  display: none;
  margin-left: 1300px;
  margin-top: -40px;
}

.carrito-icon i{
  color: black;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  border-radius: 5px ;
  padding: 8px 8px 5px 5px;
  margin-bottom: 7px;
  background-color: #ffffff;
  cursor: pointer;
}

/*CARDs*/


.imagenes img{
  max-width: 150px;
  max-height: 140px;
  border-radius: 3px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 400px;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.549);
}


.cardsProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.contenedorCrear {
  display: none;
}

h4{
  width: 126px;
  height: 0px;
  margin-top: 1px;
}

/*FOOTER*/


footer {
  background-color: rgb(251, 255, 0);
  grid-area: footer; 
  border-top: 1px solid rgb(0, 0, 0);
  text-align: center;
}
