/*ESTILO GENERAL*/

body{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Define las filas del grid */
  min-height: 100vh; /* Asegura que el grid ocupe al menos el 100% de la altura de la ventana */
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background-color: yellow;
  grid-area: header;
  height: 200px;
}

main {
  background: linear-gradient(to bottom, rgb(0, 247, 255), white);
  grid-area: main;
}

 /*NAVBAR*/
 
 nav {
    width: 100%;
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    
  }

  .botonesNav{
    margin-left: 1350px;
    margin-top: 12px;
  }

  /*HEADER*/

  h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 45px;
    padding-bottom: 30px;
    font-size: 30px;
  }
  
  /*Crear la cuenta*/

  .contenedorCrear,
  .contenedorLogin {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffff00;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
    z-index: 9999;
  
  }
  
  .contenedorCrear,
  .contenedorLogin {
    display: none;
  }

  .contenedorCrear ul,
.contenedorLogin ul {
  list-style-type: none;
  padding: 0;
}

.contenedorCrear form,
.contenedorLogin form {
  margin-bottom: 10px;
}

.contenedorCrear label,
.contenedorLogin label {
  display: block;
  margin-bottom: 5px;
}

.contenedorCrear input,
.contenedorLogin input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contenedorCrear input[type="submit"],
.contenedorLogin input[type="submit"],
.contenedorCrear button,
.contenedorLogin button {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.contenedorCrear input[type="submit"]:hover,
.contenedorLogin input[type="submit"]:hover,
.contenedorCrear button:hover,
.contenedorLogin button:hover {
  background-color: #45a049;
  
}

.contenedorCrear #btnSalir,
.contenedorLogin #btnSalirLogin {
  background-color: #f44336;
  width: 100%;
}

/* CARRITO */

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.btnHide{
  margin-left: 250px;
}


#carritoContainer {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  max-height: 520px;
  overflow:auto;

}

#carritoItems {
  list-style-type: none;
  padding: 0;
}


#vaciarCarrito {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#btnComprar{
  background-color: rgb(0, 186, 0);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#carritoTotal {
  font-weight: bold;
}

#carritoIcon {
  position: relative;
}



#carritoContainer {
  display: none;
  position:absolute;
  top: 20%;
  right: 0;
  background-color: #bdbdbd94;
  border: 1px solid #8e8d8db8;
  padding: 10px;
}

#carritoContainer.visible {
  display: block;
}

.carrito-icon{
  display: none;
  margin-left: 1300px;
  margin-top: -40px;
}

.carrito-icon i{
  color: black;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  border-radius: 5px ;
  padding: 8px 8px 5px 5px;
  margin-bottom: 7px;
  background-color: #ffffff;
  cursor: pointer;
}

.cardsProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.contenedorCrear {
  display: none;
}

/*CARDS*/

.Carta{
  width: 180px;
  text-align: center;
  margin: 30px;
  margin-top: 150px;
  padding: 5px 5px 20px 5px;
  border-radius: 5px;
  border-color: green;
  background-color: #00e5ff64;
}

h4{
  width: 126px;
  height: 0px;
  margin-top: 1px;
}

/*FOOTER*/


footer {
  background-color: rgb(251, 255, 0);
  grid-area: footer; 
  border-top: 1px solid rgb(0, 0, 0);
  text-align: center;
}
